@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F17;
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
